body {
  background-color: #F1F2F6;
  color: #222;
  padding: 151px 0 30px 0;
}
.nav-sub {
  padding-top: 200px;
}
.nav-sub.nav-bottom {
  padding-bottom: 84px;
}
a {
  color: #2196F3;
}
a:focus,
a:hover {
  color: #1976D2;
}
.login {
  padding: 80px 0;
}
.login .help {
  position: absolute;
  right: 20px;
  top: 20px;
}
.login .help i {
  color: #999;
}
.login .panel {
  width: 280px;
  margin: 0 auto 40px auto;
}
.login .panel .panel-body {
  padding: 20px 15px;
}
.login .panel .panel-body .logo {
  margin-bottom: 25px;
}
.login .panel .panel-body .btn {
  margin-top: 5px;
}
.login .footer {
  text-align: center;
  color: #888;
  font-size: 12px;
}
.login .footer img {
  display: block;
  margin: 0 auto 10px auto;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  color: #1976D2;
  background-color: white;
  border-color: white;
}
.navbar-fixed-top {
  border-width: 0;
}
.navbar-fixed-bottom {
  background-color: white;
  border-width: 0;
  padding: 15px 0;
  box-shadow: 0px -1px 3px 0px #bbbbbb;
}
.navbar-fixed-bottom .status {
  margin-top: 6px;
}
@media (min-width: 768px) {
  .navbar > .pohs-nav-top-1 > .container .navbar-brand,
  .navbar > .pohs-nav-top-1 > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-nav > li > a {
  color: white;
}
.navbar-brand {
  color: white;
  padding-top: 16px;
}
.navbar-brand.right {
  float: right;
  margin-left: 0px !important;
  padding-top: 11px;
}
.navbar-right > .active {
  background-color: rgba(255, 255, 255, 0.1);
}
.pohs-nav-top-1 {
  background-color: #1976D2;
  min-height: 50px;
}
.pohs-nav-top-2 {
  background-color: #2196F3;
  box-shadow: 0px 2px 3px 0px #BBBBBB;
}
.pohs-nav-top-2 h3 {
  color: white;
  margin-bottom: 15px;
}
.pohs-nav-top-2 a,
.pohs-nav-top-2 a:hover {
  color: white;
  text-decoration: none;
}
.pohs-nav-top-2 i {
  margin: 0 8px;
}
.pohs-nav-top-3 {
  background-color: #fff;
  box-shadow: 0px 2px 3px 0px #BBBBBB;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.h3,
h3 {
  margin-bottom: 20px;
}
.btn {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 0px 2px 3px 0px #aaa;
  -moz-box-shadow: 0px 2px 3px 0px #aaa;
  box-shadow: 0px 2px 3px 0px #aaa;
}
.btn:hover {
  box-shadow: 0px 2px 4px 0px #777;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  outline: 0px auto transparent;
  outline-offset: 0;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
  }
}
.btn-default,
.btn-default:active,
.btn-default:focus {
  color: #2196F3;
  background-color: #fafafa;
  border: 0px;
}
.btn-default:hover,
.btn-default:active:hover,
.btn-default:focus:hover {
  color: #2196F3;
  background-color: #f4f4f4;
}
.btn-danger,
.btn-danger:active,
.btn-danger:focus {
  background-color: #d9534f;
  border: 0px;
}
.btn-danger:hover,
.btn-danger:active:hover,
.btn-danger:focus:hover {
  background-color: #d64742;
}
.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  background-color: #2196F3;
  border: 0px;
}
.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary:focus:hover {
  background-color: #128ff2;
}
.btn-link,
.btn-link:active,
.btn-link:focus {
  color: #2196F3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link:hover,
.btn-link:active:hover,
.btn-link:focus:hover {
  color: #2196F3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-default[disabled] {
  background-color: #f1f1f1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.btn-danger[disabled] {
  background-color: #eba5a3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.btn-primary[disabled] {
  background-color: #82c4f8;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: not-allowed;
}
.btn-icon {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  padding: 3px 6px 2px 6px;
  color: #2196F3;
}
.btn-icon-danger,
.btn-icon-danger:hover {
  color: red;
}
.btn-icon-success,
.btn-icon-success:hover {
  color: #5cb85c;
}
.btn-header {
  margin: 15px 15px 0 0;
}
.btn-header .btn-default {
  background-color: #fff;
}
.btn-bar-left .btn {
  margin-bottom: 0;
  margin-right: 5px;
}
.btn-bar-left .btn:last-child {
  margin-right: 0px;
}
.btn-bar-right .btn {
  margin-bottom: 0;
  margin-left: 10px;
}
.btn-bar-right .btn:first-child {
  margin-left: 0px;
}
.dropdown-menu {
  text-align: right;
  min-width: 140px;
  border: 0;
  box-shadow: 0px 2px 3px 0px #BBBBBB;
}
.dropdown-menu .divider {
  margin: 5px 0;
}
.dropdown-menu > li > a {
  color: #1976D2;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #1976D2;
  background-color: #F1F2F6;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #1976D2;
  background-color: #F1F2F6;
}
.label {
  font-size: 100%;
  font-weight: normal;
  border-radius: 2px;
  padding: 4px 8px;
}
.label .fa {
  margin-left: 5px;
}
label {
  color: #9B9B9B;
  font-weight: normal;
}
label.required:after {
  content: "*";
  font-size: 18pt;
  color: red;
  line-height: 10px;
  vertical-align: bottom;
  margin: 0 0 0 6px;
}
.form-control {
  color: #222;
  border-radius: 4px;
  border-color: #ddd;
  box-shadow: none;
}
.has-feedback .form-control-feedback {
  top: 10px;
  color: #9B9B9B;
}
input {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel {
  border: 0;
  border-radius: 0;
  box-shadow: 0px 0px 3px 0px #AAAAAA;
}
.panel-default {
  border-color: transparent;
}
.panel-actions {
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 10;
  display: block;
  padding: 15px 15px;
}
.panel-actions .list-group .list-group-item {
  padding: 0 0 10px 0;
  margin-bottom: 0px;
  border: 0;
}
.row-grid-actions .btn-bar-left .btn {
  margin: 0 15px 0 0;
}
.row-grid {
  margin-top: 20px;
  margin-bottom: 15px;
}
.row-grid .panel-grid {
  box-shadow: 0px 0px 3px 0px #AAAAAA;
}
.row-grid-nav .pagination > li > a {
  padding: 0px 10px;
}
.row-grid-nav .pagination > li:first-child > a {
  padding-left: 0;
}
.row-grid-nav .fa-lg {
  vertical-align: -10%;
}
.nav-tabs {
  border-bottom: 0;
}
.nav-tabs > li {
  margin: 0 15px;
}
.nav-tabs > li:first-child {
  margin-left: 0;
}
.nav-tabs > li:last-child {
  margin-right: 0;
}
.nav-tabs > li > a {
  margin-right: 0;
  border: 0;
  border-radius: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #222;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid #2196F3;
  border-left: 0;
}
.nav.nav-tabs > li > a {
  padding: 15px 0 13px 0;
}
.tab-content > .tab-pane > .h3:first-child,
.tab-content > .tab-pane > h3:first-child {
  margin-top: 0px;
}
.ui-grid {
  border: 0;
}
.ui-grid-canvas {
  padding-top: 0;
}
.ui-grid-top-panel {
  background: #fff;
  font-weight: normal;
  color: #9B9B9B;
}
.ui-grid-menu-button {
  position: relative;
  float: right;
  margin-left: 15px;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: inset 0px -1px 0px 0px #cccccc;
  border-radius: 4px;
  background-color: transparent;
  min-height: 0;
  padding: 6px 8px 6px 12px;
}
.ui-grid-menu-button:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.ui-grid-menu-button .ui-grid-icon-container {
  margin-top: 0px;
}
.ui-grid-header {
  border-bottom: 1px solid #ddd;
}
.ui-grid-header-cell {
  border-right: 0;
}
.ui-grid-cell {
  border-right: 0;
  border-bottom: 1px solid;
  border-color: #ddd;
}
.ui-grid-cell-contents {
  padding: 7px 15px;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #fff;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #fff;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
  border-color: #ddd;
}
.ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-header-cell:first-child {
  border-color: #ddd;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
  border-right: 1px solid #ddd;
  border-bottom-color: #ddd;
}
.ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-cell:first-child {
  border-left: 1px solid #ddd;
  border-bottom-color: #ddd;
}
.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: #edf7ff !important;
}
.pagination {
  margin: 0;
}
.pagination > .active > a {
  color: #222;
  background-color: transparent;
  cursor: pointer;
}
.pagination > .active > a:focus {
  color: #337ab7;
  background-color: transparent;
  cursor: pointer;
}
.pagination > .active > a:hover {
  color: #337ab7;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
}
.pagination > li > a,
.pagination > li > span {
  border: 0;
  background-color: transparent;
  color: #2196F3;
  cursor: pointer;
  padding: 5px 10px;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #1976D2;
  background-color: transparent;
}
.pagination > li > a:hover,
.pagination > li > span:hover {
  text-decoration: underline;
}
.modal-content {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: 0px 2px 3px 0px #333;
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
}
.modal-header {
  color: #222;
  background-color: #FAFAFA;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid #ccc;
}
.modal-header .close {
  margin-top: 0;
  opacity: 1;
  color: #aaa;
}
.modal-title {
  line-height: 1;
}
.modal-footer {
  background-color: #FAFAFA;
  border-radius: 0 0 2px 2px;
  border-top: 1px solid #ccc;
}
.modal-body {
  padding: 20px 0px 10px 0px;
  background-color: white;
}
.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
}
.select2-container .select2-choices .select2-search-field input,
.select2-container .select2-choice,
.select2-container .select2-choices {
  border-color: #ddd;
  color: #222;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.select2-search input {
  border-color: #ddd;
  color: #222;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.select2-container-active .select2-choice,
.select2-container-multi.select2-container-active .select2-choices {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.select2-drop {
  color: #222;
  border: 1px solid #ddd;
  border-top: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
